## 리스트와 튜플 응용
- append : 요소 추가
- extend : 리스트 연결 확장
- insert : 특정 인덱스 요소 추가
- pop : 마지막 요소 또는 특정 인덱스 요소 삭제
- remove: 특정 값 찾아서 삭제
- del : 전체 삭제
- index : 특정 값의 인덱스 구하기
- count : 특정 값의 개수 구하기
- reverse : 순서 뒤집기
- sort : 정렬 (reverse=False) 오름차순,sort(reverse=True) 내림차순
- clear : 리스트 모든 요소 삭제
- copy : 복사 (다른 메모리 사용)

In [1]:
a = [1,2,3,4,5]

In [2]:
#append : 맨 뒤에 인덱스값 추가
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [3]:
#extend : 리스트 연결 확장(평탄화)
a.extend([10,20])
a

[1, 2, 3, 4, 5, 6, 10, 20]

In [4]:
#insert : 원하는 인덱스에 값 넣기
a.insert(0,0)
a

[0, 1, 2, 3, 4, 5, 6, 10, 20]

In [5]:
#pop : 마지막 요소 또는 특정 인덱스 삭제
a.pop(1)
a

[0, 2, 3, 4, 5, 6, 10, 20]

In [6]:
#remove : 특정 값 삭제
a.remove(0)
a

[2, 3, 4, 5, 6, 10, 20]

In [7]:
#del : 전체 삭제 (슬라이싱 가능)
del a

In [8]:
a = [1,2,3,4,5]

In [9]:
#index : 특정 값의 인덱스 구하기
a.index(1)

0

In [10]:
#count : 특정 값의 개수
a.count(1)

1

In [11]:
#reverse : 순서 뒤집기
a.reverse()

In [12]:
#sort : 정렬
a.sort(reverse = True) #오름차순
a

[5, 4, 3, 2, 1]

In [13]:
#clear : 리스트 모든 요소 삭제
a.clear()

In [14]:
a

[]

In [15]:
#copy : 다른 메모리 사용 복사
a = [1,2,3,4,5]
b = a.copy()

In [16]:
b

[1, 2, 3, 4, 5]

## 반복문으로 리스트 출력하기
- len 사용
- 시퀀스객체 사용
- 인덱스 요소와 값을 같이 출력

In [17]:
#len
for i in range(len(a)):
  print(i)

0
1
2
3
4

In [18]:
# 리스트 사용
for i in a:
    print(i)

1
2
3
4
5

In [19]:
# 인덱스, 요소 같이 출력
for index, value in enumerate(a):
    print(index, value)

0 1
1 2
2 3
3 4
4 5

In [20]:
# len 사용
i=0
while i<len(a):
    print(a[i])
    i+=1

1
2
3
4
5

## 반복문 이용하기
- 요소들의 합 구하기

In [21]:
a = [1,2,3,4,5]

In [22]:
sum = 0
for i in a:
  sum += i

print(sum)

15

## 리스트 표현식 사용
- 리스트 컴프리헨션 : 간결하게 한줄로 작성

In [23]:
a = [i for i in range(1,10)]

In [24]:
#if문 사용 : 2의 배수만 출력
a = [i for i in range(1,10) if i % 2 == 0]

In [25]:
a

[2, 4, 6, 8]

In [26]:
#for 문이 여러개인 경우
b = [i*j for j in range(1,5) for i in range(2,4) ]
b

[2, 3, 4, 6, 6, 9, 8, 12]

In [27]:
for i in range(2,4):
    for j in range(1,5):
        print(i*j, end='')

246836912

## 2차원 리스트
- 행(인덱스), 열 (컬럼)

In [28]:
a = [[10,20],[30,40],[50,60]] #리스트 두개

In [29]:
a[0][0] #인덱스로 접근

10

## 2차원 리스트 반복문

In [30]:
#2차원 리스트 반복문
for i in a:
  print(i)

[10, 20]
[30, 40]
[50, 60]

In [31]:
# 루프인덱스 두개 사용(루프인덱스의 개수와 리스트 개수 같아야함)
for i,j in a:
  print(i,j)

10 20
30 40
50 60

In [32]:
# 반복분 두개로 출력 - 1
for i in a:
  for j in i:
    print(j, end = ' ')
  print()

10 20
30 40
50 60

In [33]:
#반복문 두개로 출력 - 2
for i in range(len(a)):
  for j in range(len(a[i])):
    print(a[i][j], end = ' ')
  print()

10 20
30 40
50 60

In [34]:
#반복문 두개로 출력 - 3
i = 0
while i < len(a):
  j = 0
  while j < len(a[i]):
    print(a[i][j], end = ' ')
    j += 1
  print()
  i += 1

10 20
30 40
50 60

In [35]:
#apppend 사용
a = []
for i in range(3):
    b= []
    for j in range(4):
        b.append(j)
    a.append(b)

In [36]:
a

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]