## 데이터 병합(concat, merge)

### Concat

In [1]:
import pandas as pd

In [10]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
df2 = pd.DataFrame({'A':[4,5,6],'B':[1,2,3]})
df3 = pd.DataFrame({'A':[7,8,9],'B':[10,11,12],'c':[1,2,3]})

In [8]:
display(pd.concat([df1,df2],axis = 0, ignore_index = True)) # 인덱스 재정렬

   A  B
0  1  4
1  2  5
2  3  6
3  4  1
4  5  2
5  6  3

In [11]:
display(pd.concat([df1,df3],axis = 0, ignore_index = True))

   A   B    c
0  1   4  NaN
1  2   5  NaN
2  3   6  NaN
3  7  10  1.0
4  8  11  2.0
5  9  12  3.0

In [13]:
df1.shape

(3, 2)

In [14]:
df2.shape

(3, 2)

In [16]:
df3.shape

(3, 3)

- 시계열 인덱스 기준, 날짜 기준으로 데이터 붙이는 경우
- 전혀 다른데이터를 붙여야 한다면 concat 사용

### Merge
- join 이라는 함수가 들어간다.
- 공통컬럼이 필요하다.(pk 개념)

- merge 파라미터가 있지만 주요한 것
- left : 가장 먼저 쓴 데이터프레임, 왼쪽
- right : 두번째로 쓴 데이터 프레임, right(2개 기준일 때, 3개 이상으로 하게되면 순서에 따라서 정렬)
- on : join key 사용할 컬럼을 적는 것
- left_on : 왼쪽 데이터 프레임에서 join key 로 사용할 컬럼 목록 적기
- right_on : 오른쪽 데이터 프레임에서 join key 로 사용할 컬럼 목록 적기
- left_index : 왼쪽 데이터프레임의 join 기준 인덱스 사용할지 여부
- right_index : 오른쪽 데이터프레임 join 기준 인덱스 사용할지 여부
- how : join 병합 방법