In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('weather.csv')

In [5]:
df.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
combined_df = df.append(df, ignore_index=True)
print("\n데이터프레임 연결:\n", combined_df)

# - describe
print("\n기술 통계량 요약:\n", df.describe())

# - drop_duplicates (중복 제거)
unique_df = df.drop_duplicates()
print("\n중복 제거한 데이터프레임:\n", unique_df)

# - get_values (시리즈의 값 구하기)
values_array = df['d1'].values
print("\n시리즈의 값 얻기:\n", values_array)

# - sort_values
sorted_df = df.sort_values(by='d2', ascending=True)
print("\n값 정렬:\n", sorted_df)

# - to_frame
df_as_frame = df['d1'].to_frame()
print("\n시리즈를 DataFrame으로 변환:\n", df_as_frame)

데이터프레임 연결:
          id  year  month element    d1    d2    d3    d4    d5    d6  ...  \
0   MX17004  2010      1    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
1   MX17004  2010      1    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
2   MX17004  2010      2    tmax   NaN  27.3  24.1   NaN   NaN   NaN  ...
3   MX17004  2010      2    tmin   NaN  14.4  14.4   NaN   NaN   NaN  ...
4   MX17004  2010      3    tmax   NaN   NaN   NaN   NaN  32.1   NaN  ...
5   MX17004  2010      3    tmin   NaN   NaN   NaN   NaN  14.2   NaN  ...
6   MX17004  2010      4    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
7   MX17004  2010      4    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
8   MX17004  2010      5    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
9   MX17004  2010      5    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
10  MX17004  2010      6    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
11  MX17004  2010      6    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
12  MX17004  2010      7    tmax   NaN   NaN  28.6   NaN   NaN   NaN  ...
13  MX17004  2010      7    tmin   NaN   NaN  17.5   NaN   NaN   NaN  ...
14  MX17004  2010      8    tmax   NaN   NaN   NaN   NaN  29.6   NaN  ...
15  MX17004  2010      8    tmin   NaN   NaN   NaN   NaN  15.8   NaN  ...
16  MX17004  2010     10    tmax   NaN   NaN   NaN   NaN  27.0   NaN  ...
17  MX17004  2010     10    tmin   NaN   NaN   NaN   NaN  14.0   NaN  ...
18  MX17004  2010     11    tmax   NaN  31.3   NaN  27.2  26.3   NaN  ...
19  MX17004  2010     11    tmin   NaN  16.3   NaN  12.0   7.9   NaN  ...
20  MX17004  2010     12    tmax  29.9   NaN   NaN   NaN   NaN  27.8  ...
21  MX17004  2010     12    tmin  13.8   NaN   NaN   NaN   NaN  10.5  ...
22  MX17004  2010      1    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
23  MX17004  2010      1    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
24  MX17004  2010      2    tmax   NaN  27.3  24.1   NaN   NaN   NaN  ...
25  MX17004  2010      2    tmin   NaN  14.4  14.4   NaN   NaN   NaN  ...
26  MX17004  2010      3    tmax   NaN   NaN   NaN   NaN  32.1   NaN  ...
27  MX17004  2010      3    tmin   NaN   NaN   NaN   NaN  14.2   NaN  ...
28  MX17004  2010      4    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
29  MX17004  2010      4    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
30  MX17004  2010      5    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
31  MX17004  2010      5    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
32  MX17004  2010      6    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
33  MX17004  2010      6    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
34  MX17004  2010      7    tmax   NaN   NaN  28.6   NaN   NaN   NaN  ...
35  MX17004  2010      7    tmin   NaN   NaN  17.5   NaN   NaN   NaN  ...
36  MX17004  2010      8    tmax   NaN   NaN   NaN   NaN  29.6   NaN  ...
37  MX17004  2010      8    tmin   NaN   NaN   NaN   NaN  15.8   NaN  ...
38  MX17004  2010     10    tmax   NaN   NaN   NaN   NaN  27.0   NaN  ...
39  MX17004  2010     10    tmin   NaN   NaN   NaN   NaN  14.0   NaN  ...
40  MX17004  2010     11    tmax   NaN  31.3   NaN  27.2  26.3   NaN  ...
41  MX17004  2010     11    tmin   NaN  16.3   NaN  12.0   7.9   NaN  ...
42  MX17004  2010     12    tmax  29.9   NaN   NaN   NaN   NaN  27.8  ...
43  MX17004  2010     12    tmin  13.8   NaN   NaN   NaN   NaN  10.5  ...

    d22   d23  d24   d25   d26   d27   d28   d29   d30   d31
0   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN
1   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  14.5   NaN
2   NaN  29.9  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN  10.7  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   NaN   NaN  NaN   NaN   NaN  36.3   NaN   NaN   NaN   NaN
7   NaN   NaN  NaN   NaN   NaN  16.7   NaN   NaN   NaN   NaN
8   NaN   NaN  NaN   NaN   NaN  33.2   NaN   NaN   NaN   NaN
9   NaN   NaN  NaN   NaN   NaN  18.2   NaN   NaN   NaN   NaN
10  NaN   NaN  NaN   NaN   NaN   NaN   NaN  30.1   NaN   NaN
11  NaN   NaN  NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN
12  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  NaN  26.4  NaN  29.7   NaN   NaN   NaN  28.0   NaN  25.4
15  NaN  15.0  NaN  15.6   NaN   NaN   NaN  15.3   NaN  15.4
16  NaN   NaN  NaN   NaN   NaN   NaN  31.2   NaN   NaN   NaN
17  NaN   NaN  NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN
18  NaN   NaN  NaN   NaN  28.1  27.7   NaN   NaN   NaN   NaN
19  NaN   NaN  NaN   NaN  12.1  14.2   NaN   NaN   NaN   NaN
20  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN
23  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  14.5   NaN
24  NaN  29.9  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25  NaN  10.7  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
26  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
27  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28  NaN   NaN  NaN   NaN   NaN  36.3   NaN   NaN   NaN   NaN
29  NaN   NaN  NaN   NaN   NaN  16.7   NaN   NaN   NaN   NaN
30  NaN   NaN  NaN   NaN   NaN  33.2   NaN   NaN   NaN   NaN
31  NaN   NaN  NaN   NaN   NaN  18.2   NaN   NaN   NaN   NaN
32  NaN   NaN  NaN   NaN   NaN   NaN   NaN  30.1   NaN   NaN
33  NaN   NaN  NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN
34  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
35  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
36  NaN  26.4  NaN  29.7   NaN   NaN   NaN  28.0   NaN  25.4
37  NaN  15.0  NaN  15.6   NaN   NaN   NaN  15.3   NaN  15.4
38  NaN   NaN  NaN   NaN   NaN   NaN  31.2   NaN   NaN   NaN
39  NaN   NaN  NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN
40  NaN   NaN  NaN   NaN  28.1  27.7   NaN   NaN   NaN   NaN
41  NaN   NaN  NaN   NaN  12.1  14.2   NaN   NaN   NaN   NaN
42  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
43  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[44 rows x 35 columns]

기술 통계량 요약:
          year      month         d1         d2         d3         d4  \
count    22.0  22.000000   2.000000   4.000000   4.000000   2.000000
mean   2010.0   6.272727  21.850000  22.325000  21.150000  19.600000
std       0.0   3.601347  11.384419   8.254443   6.405466  10.748023
min    2010.0   1.000000  13.800000  14.400000  14.400000  12.000000
25%    2010.0   3.250000  17.825000  15.825000  16.725000  15.800000
50%    2010.0   6.000000  21.850000  21.800000  20.800000  19.600000
75%    2010.0   9.500000  25.875000  28.300000  25.225000  23.400000
max    2010.0  12.000000  29.900000  31.300000  28.600000  27.200000

              d5         d6         d7         d8  ...  d22        d23  d24  \
count   8.000000   2.000000   2.000000   2.000000  ...  0.0   4.000000  0.0
mean   20.862500  19.150000  20.500000  23.150000  ...  NaN  20.500000  NaN
std     8.904243  12.232947  10.748023   8.273149  ...  NaN   9.118845  NaN
min     7.900000  10.500000  12.900000  17.300000  ...  NaN  10.700000  NaN
25%    14.150000  14.825000  16.700000  20.225000  ...  NaN  13.925000  NaN
50%    21.050000  19.150000  20.500000  23.150000  ...  NaN  20.700000  NaN
75%    27.650000  23.475000  24.300000  26.075000  ...  NaN  27.275000  NaN
max    32.100000  27.800000  28.100000  29.000000  ...  NaN  29.900000  NaN

             d25        d26        d27       d28        d29       d30  \
count   2.000000   2.000000   6.000000   2.00000   4.000000   2.00000
mean   22.650000  20.100000  24.383333  23.10000  22.850000  21.15000
std     9.970206  11.313708   9.292022  11.45513   7.294062   9.40452
min    15.600000  12.100000  14.200000  15.00000  15.300000  14.50000
25%    19.125000  16.100000  17.075000  19.05000  17.325000  17.82500
50%    22.650000  20.100000  22.950000  23.10000  23.000000  21.15000
75%    26.175000  24.100000  31.825000  27.15000  28.525000  24.47500
max    29.700000  28.100000  36.300000  31.20000  30.100000  27.80000

             d31
count   2.000000
mean   20.400000
std     7.071068
min    15.400000
25%    17.900000
50%    20.400000
75%    22.900000
max    25.400000

[8 rows x 33 columns]

중복 제거한 데이터프레임:
          id  year  month element    d1    d2    d3    d4    d5    d6  ...  \
0   MX17004  2010      1    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
1   MX17004  2010      1    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
2   MX17004  2010      2    tmax   NaN  27.3  24.1   NaN   NaN   NaN  ...
3   MX17004  2010      2    tmin   NaN  14.4  14.4   NaN   NaN   NaN  ...
4   MX17004  2010      3    tmax   NaN   NaN   NaN   NaN  32.1   NaN  ...
5   MX17004  2010      3    tmin   NaN   NaN   NaN   NaN  14.2   NaN  ...
6   MX17004  2010      4    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
7   MX17004  2010      4    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
8   MX17004  2010      5    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
9   MX17004  2010      5    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
10  MX17004  2010      6    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
11  MX17004  2010      6    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
12  MX17004  2010      7    tmax   NaN   NaN  28.6   NaN   NaN   NaN  ...
13  MX17004  2010      7    tmin   NaN   NaN  17.5   NaN   NaN   NaN  ...
14  MX17004  2010      8    tmax   NaN   NaN   NaN   NaN  29.6   NaN  ...
15  MX17004  2010      8    tmin   NaN   NaN   NaN   NaN  15.8   NaN  ...
16  MX17004  2010     10    tmax   NaN   NaN   NaN   NaN  27.0   NaN  ...
17  MX17004  2010     10    tmin   NaN   NaN   NaN   NaN  14.0   NaN  ...
18  MX17004  2010     11    tmax   NaN  31.3   NaN  27.2  26.3   NaN  ...
19  MX17004  2010     11    tmin   NaN  16.3   NaN  12.0   7.9   NaN  ...
20  MX17004  2010     12    tmax  29.9   NaN   NaN   NaN   NaN  27.8  ...
21  MX17004  2010     12    tmin  13.8   NaN   NaN   NaN   NaN  10.5  ...

    d22   d23  d24   d25   d26   d27   d28   d29   d30   d31
0   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN
1   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  14.5   NaN
2   NaN  29.9  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN  10.7  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   NaN   NaN  NaN   NaN   NaN  36.3   NaN   NaN   NaN   NaN
7   NaN   NaN  NaN   NaN   NaN  16.7   NaN   NaN   NaN   NaN
8   NaN   NaN  NaN   NaN   NaN  33.2   NaN   NaN   NaN   NaN
9   NaN   NaN  NaN   NaN   NaN  18.2   NaN   NaN   NaN   NaN
10  NaN   NaN  NaN   NaN   NaN   NaN   NaN  30.1   NaN   NaN
11  NaN   NaN  NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN
12  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  NaN  26.4  NaN  29.7   NaN   NaN   NaN  28.0   NaN  25.4
15  NaN  15.0  NaN  15.6   NaN   NaN   NaN  15.3   NaN  15.4
16  NaN   NaN  NaN   NaN   NaN   NaN  31.2   NaN   NaN   NaN
17  NaN   NaN  NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN
18  NaN   NaN  NaN   NaN  28.1  27.7   NaN   NaN   NaN   NaN
19  NaN   NaN  NaN   NaN  12.1  14.2   NaN   NaN   NaN   NaN
20  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[22 rows x 35 columns]

시리즈의 값 얻기:
 [ nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan  nan
  nan  nan  nan  nan  nan  nan 29.9 13.8]

값 정렬:
          id  year  month element    d1    d2    d3    d4    d5    d6  ...  \
3   MX17004  2010      2    tmin   NaN  14.4  14.4   NaN   NaN   NaN  ...
19  MX17004  2010     11    tmin   NaN  16.3   NaN  12.0   7.9   NaN  ...
2   MX17004  2010      2    tmax   NaN  27.3  24.1   NaN   NaN   NaN  ...
18  MX17004  2010     11    tmax   NaN  31.3   NaN  27.2  26.3   NaN  ...
0   MX17004  2010      1    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
1   MX17004  2010      1    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
4   MX17004  2010      3    tmax   NaN   NaN   NaN   NaN  32.1   NaN  ...
5   MX17004  2010      3    tmin   NaN   NaN   NaN   NaN  14.2   NaN  ...
6   MX17004  2010      4    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
7   MX17004  2010      4    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
8   MX17004  2010      5    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
9   MX17004  2010      5    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
10  MX17004  2010      6    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
11  MX17004  2010      6    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
12  MX17004  2010      7    tmax   NaN   NaN  28.6   NaN   NaN   NaN  ...
13  MX17004  2010      7    tmin   NaN   NaN  17.5   NaN   NaN   NaN  ...
14  MX17004  2010      8    tmax   NaN   NaN   NaN   NaN  29.6   NaN  ...
15  MX17004  2010      8    tmin   NaN   NaN   NaN   NaN  15.8   NaN  ...
16  MX17004  2010     10    tmax   NaN   NaN   NaN   NaN  27.0   NaN  ...
17  MX17004  2010     10    tmin   NaN   NaN   NaN   NaN  14.0   NaN  ...
20  MX17004  2010     12    tmax  29.9   NaN   NaN   NaN   NaN  27.8  ...
21  MX17004  2010     12    tmin  13.8   NaN   NaN   NaN   NaN  10.5  ...

    d22   d23  d24   d25   d26   d27   d28   d29   d30   d31
3   NaN  10.7  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19  NaN   NaN  NaN   NaN  12.1  14.2   NaN   NaN   NaN   NaN
2   NaN  29.9  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18  NaN   NaN  NaN   NaN  28.1  27.7   NaN   NaN   NaN   NaN
0   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN
1   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  14.5   NaN
4   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   NaN   NaN  NaN   NaN   NaN  36.3   NaN   NaN   NaN   NaN
7   NaN   NaN  NaN   NaN   NaN  16.7   NaN   NaN   NaN   NaN
8   NaN   NaN  NaN   NaN   NaN  33.2   NaN   NaN   NaN   NaN
9   NaN   NaN  NaN   NaN   NaN  18.2   NaN   NaN   NaN   NaN
10  NaN   NaN  NaN   NaN   NaN   NaN   NaN  30.1   NaN   NaN
11  NaN   NaN  NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN
12  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  NaN  26.4  NaN  29.7   NaN   NaN   NaN  28.0   NaN  25.4
15  NaN  15.0  NaN  15.6   NaN   NaN   NaN  15.3   NaN  15.4
16  NaN   NaN  NaN   NaN   NaN   NaN  31.2   NaN   NaN   NaN
17  NaN   NaN  NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN
20  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[22 rows x 35 columns]

시리즈를 DataFrame으로 변환:
       d1
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20  29.9
21  13.8

/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_39076/3753504132.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_df = df.append(df, ignore_index=True)