In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/bike_sharing_daily.csv')

- 자전거 수요 예측
- season 1,2,3,4 봄 여름 가을 겨울
- holiday 0,1 공휴일 여부
- weather ( 1 맑음 2 옅은 안개, 3 약간의 눈 비와 천둥 4 폭풍 > 날씨가 클 수록 안 좋다

In [6]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331.0,654.0,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131.0,670.0,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,NaN,0.437273,0.248309,120.0,1229.0,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108.0,1454.0,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82.0,1518.0,1600

In [5]:
train = df.copy()

In [7]:
train['datetime'] = train['dteday'].to_datetime

AttributeError: 'Series' object has no attribute 'to_datetime'

In [4]:
train['date'] = train['datetime'].apply(lambda x:x.split()[0])

#연도, 월,일,시,분,초 데이터 뽑기
train['Year'] = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])
train['' = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])
train['Year'] = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])
train['Year'] = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])
train['Year'] = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])

NameError: name 'train' is not defined

In [ ]:
#연도, 월,일,시,분,초 데이터 뽑기
train['Year'] = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])
train['month'] = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])
train['Year'] = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])
train['Year'] = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])
train['Year'] = train['datetime'].apply(lambda x:x.split()[0].split('-')[0])