## Timedelta

1. 세션의 지속 시간을 분으로 계산하고 가장 긴 지속시간을 출력하시오(반올림 후 총 분만 출력)
2. 가장 많이 머무른 Page를 찾고 그 페이지의 머문 평균 시간을 구하시오 (반올림 후 총 시간만 출력) 
3. 사용자들이 가장 활발히 활동하는 시간대(예: 새벽, 오전, 오후, 저녁)를 분석하세요. 이를 위해 하루를 4개의 시간대로 나누고 각 시간대별로 가장 많이 시작된 세션의 수를 계산하고, 그 중에 가장 많은 세션 수를 출력하시오
    - 새벽: 0시 부터 6시 전
    - 오전: 6시 부터 12시 전
    - 오후: 12 부터 18시 전
    - 저녁: 18시 부터 0시 전

4. user가 가장 많이 접속 했던 날짜를 출력하시오. (예, 2023-02-17)

In [23]:
import pandas as pd
df = pd.read_csv('data/website.csv')

# 1번
df['StartTime'] = pd.to_datetime(df['StartTime'])
df['EndTime'] = pd.to_datetime(df['EndTime'])
df['지속시간'] = df['EndTime']-df['StartTime']
df['지속시간'] = df['지속시간'].dt.total_seconds()/60
print(round(df['지속시간'].max()))

300

In [34]:
print(df['Page'].mode())
temp = df[df['Page'] == "Page5"]
print(round(temp['지속시간'].mean()/60))

0    Page5
Name: Page, dtype: object

In [50]:
df['StartTime'].dt.hour

0        8
1       11
2        3
3       23
4       11
        ..
9596     9
9597     2
9598    14
9599     3
9600    23
Name: StartTime, Length: 9601, dtype: int64

In [52]:
# 3번
def hour_transform(hour):
    if 0 <= hour < 6:
        return "새벽"
    elif 6 <= hour < 12:
        return "오전"
    elif 12 <= hour < 18:
        return "오후"
    else:
        return "저녁"

In [53]:
df['hour'] = df['StartTime'].dt.hour.apply(hour_transform)

In [62]:
print("가장 많은 세션 수:",df['hour'].value_counts()[0])

가장 많은 세션 수: 2447

In [74]:
# 4번 - user가 가장 많이 접속 했던 날짜를 출력하시오. 
result = df['StartTime'].dt.date.value_counts().index[0]
print(result.strftime('%Y-%m-%d'))

2023-03-28

### T1-30
- 12월 25일 결제 금액(price)은 12월 총 결제금액의 몇 %인가? (정수로 출력)

In [101]:
import pandas as pd
df = pd.read_csv("data/payment.csv")
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    13 non-null     int64
 1   hour    13 non-null     int64
 2   menu    13 non-null     object
 3   price   13 non-null     int64
dtypes: int64(3), object(1)
memory usage: 548.0+ bytes
None
       date  hour   menu  price
0  20221129    13   딸기라떼   4000
1  20221130    12   카페라떼   3000
2  20221201    14  바닐라라떼   3500
3  20221201    16   초코라떼   3500
4  20221202    17   모카라떼   3500

In [114]:
df['date'] = pd.to_datetime(df['date'], format = '%Y%m%d')

In [124]:
december12 = df[(df['date'].dt.month == 12)]['price'].sum()

In [125]:
december1215 = df[(df['date'].dt.month == 12) & (df['date'].dt.day == 25)]['price'].sum()

In [128]:
decem = december1215/december12*100
print(round(decem))

26

### 시계열 데이터2
- 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)
- 데이터셋 : basic2.csv

In [155]:
# 데이터 불러오기 (datatime컬럼 지정)
df = pd.read_csv("data/basic2.csv", parse_dates=['Date'])

In [156]:
df['dayofweek'] = df['Date'].dt.dayofweek
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

In [157]:
df['weekend'] = df['dayofweek'].apply(lambda x:x>=5)

In [158]:
weekend = (df['year'] == 2022) & (df['month'] == 5) & (df['weekend'])
weekday = (df['year'] == 2022) & (df['month'] == 5) & (~df['weekend'])

In [159]:
weekend = df[weekend]['Sales'].mean()
weekday = df[weekday]['Sales'].mean()

In [163]:
print(round(weekend - weekday,1))

3010339.1

### 시계열 데이터3
- 주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과 2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오. 
- 단 Events컬럼이 '1'인경우 80%의 Salse값만 반영함(최종값은 소수점 반올림 후 정수 출력)

In [194]:
df = pd.read_csv("data/basic2.csv", parse_dates=['Date'])

In [195]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB
None

In [196]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dateofweek'] = df['Date'].dt.dayofweek

In [197]:
def new_sales(x):
    if x['Events'] == 1:
        x['Sales2'] = x['Sales']*0.8
    else:
        x['Sales2'] = x['Sales']
    return x

In [199]:
df = df.apply(lambda x: new_sales(x), axis = 1)

In [200]:
df

,Date,Sales,PV,UV,Events,year,month,day,dateofweek,Sales2
0,2022-01-01,22711525,397349,4421.0,1,2022,1,1,5,18169220.0
1,2022-01-02,36779,3969,2289.0,0,2022,1,2,6,36779.0
2,2022-01-03,13943875,373890,NaN,1,2022,1,3,0,11155100.0
3,2022-01-04,8088593,142054,2157.0,0,2022,1,4,1,8088593.0
4,2022-01-05,2395374,190684,NaN,0,2022,1,5,2,2395374.0
...,...,...,...,...,...,...,...,...,...,...
725,2023-12-27,33846609,415067,7360.0,1,2023,12,27,2,27077287.2
726,2023-12-28,3659566,208601,2262.0,1,2023,12,28,3,2927652.8
727,2023-12-29,1164008,14309,193.0,0,2023,12,29,4,1164008.0
728,2023-12-30,3977696,60935,NaN,0,2023,12,30,5,3977696.0
729,2023-12-31,3719764,60963,1507.0,0,2023,12,31,6,3719764.0

### 시계열 데이터 4
- 주어진 데이터(basic2.csv)에서 주 단위 Sales의 합계를 구하고, 가장 큰 값을 가진 주와 작은 값을 가진 주의 차이를 구하시오(절대값)

In [202]:
df = pd.read_csv("data/basic2.csv", parse_dates=['Date'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB
None

In [204]:
df.set_index('Date', inplace = True)

In [210]:
dfw = df.resample('W').sum()

In [223]:
print(abs(dfw['Sales'].max() - dfw['Sales'].min()))

91639050

### 시계열 데이터 5
- 주어진 데이터(basic2.csv)에서 "pv"컬럼으로 1일 시차(lag)가 있는 새로운 컬럼을 만들고(예: 1월 2일에는 1월 1일 pv데이터를 넣고, 1월 3일에는 1월 2일 pv데이터를 넣음),
- 새로운 컬럼의 1월 1일은 다음날(1월 2일)데이터로 결측치를 채운 다음, 
- Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오

In [225]:
df = pd.read_csv("data/basic2.csv", parse_dates=['Date'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB
None

In [228]:
df['pv_1'] = df['PV'].shift(1)

In [231]:
df.head()

        Date     Sales      PV      UV  Events      pv_1
0 2022-01-01  22711525  397349  4421.0       1       NaN
1 2022-01-02     36779    3969  2289.0       0  397349.0
2 2022-01-03  13943875  373890     NaN       1    3969.0
3 2022-01-04   8088593  142054  2157.0       0  373890.0
4 2022-01-05   2395374  190684     NaN       0  142054.0

In [232]:
df['pv_1'].fillna(method = 'bfill', inplace = True)

In [233]:
df.head()

        Date     Sales      PV      UV  Events      pv_1
0 2022-01-01  22711525  397349  4421.0       1  397349.0
1 2022-01-02     36779    3969  2289.0       0  397349.0
2 2022-01-03  13943875  373890     NaN       1    3969.0
3 2022-01-04   8088593  142054  2157.0       0  373890.0
4 2022-01-05   2395374  190684     NaN       0  142054.0