In [1]:
import requests 
import pandas as pd

data_dict = {}  
page = 1  # 초기식

while True:
    end_num = page * 1000
    start_num = end_num - 999
    url = f'http://openapi.seoul.go.kr:8088/7949646757736b773733414e71744d/json/VwsmTrdhlSelngQq/{start_num}/{end_num}/2022'
    res = requests.get(url) 
    sales_data = res.json()

    # 데이터가 있는지 확인
    if 'VwsmTrdhlSelngQq' in sales_data and 'row' in sales_data['VwsmTrdhlSelngQq']:
        data_dict[start_num] = pd.DataFrame(sales_data['VwsmTrdhlSelngQq']['row'])
        page += 1  
    else:
        break  # 데이터가 없으면 종료

# Concatenate all DataFrames in the dictionary
sales_df = list(data_dict.values())
sales_df_2022 = pd.concat(sales_df, ignore_index=True)
sales_df_2022.to_csv('/Users/kimsinwoo/Desktop/multicampus/Project/Mini PJT/sales_2022.csv', index=False)
sales_df_2022.head(5)

,STDR_YY_CD,STDR_QU_CD,TRDAR_SE_CD,TRDAR_SE_CD_NM,TRDAR_CD,TRDAR_CD_NM,SVC_INDUTY_CD,SVC_INDUTY_CD_NM,THSMON_SELNG_AMT,THSMON_SELNG_CO,...,TMZON_21_24_SELNG_CO,ML_SELNG_CO,FML_SELNG_CO,AGRDE_10_SELNG_CO,AGRDE_20_SELNG_CO,AGRDE_30_SELNG_CO,AGRDE_40_SELNG_CO,AGRDE_50_SELNG_CO,AGRDE_60_ABOVE_SELNG_CO,STOR_CO
0,2022,4,A,골목상권,2110947,청계산입구역 2번(내곡동주민센터),CS200037,노래방,61852322,1251,...,516,714,353,0,96,319,272,177,204,*
1,2022,4,A,골목상권,2110162,군자역 4번,CS300043,전자상거래업,202000000,429,...,0,429,0,0,45,0,338,46,0,45
2,2022,4,A,골목상권,2110864,신림우방아파트,CS300022,화장품,72729411,2122,...,12,544,1578,12,37,49,239,608,1177,9
3,2022,4,A,골목상권,2110916,내방역 4번,CS300019,의료기기,318910295,570,...,0,327,231,0,0,60,134,36,328,8
4,2022,4,A,골목상권,2110879,신림현대아파트,CS300014,신발,6984964,267,...,0,148,119,0,23,21,60,36,127,5

In [2]:
sales_df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189413 entries, 0 to 189412
Data columns (total 80 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   STDR_YY_CD                 189413 non-null  object
 1   STDR_QU_CD                 189413 non-null  object
 2   TRDAR_SE_CD                189413 non-null  object
 3   TRDAR_SE_CD_NM             189413 non-null  object
 4   TRDAR_CD                   189413 non-null  object
 5   TRDAR_CD_NM                189413 non-null  object
 6   SVC_INDUTY_CD              189413 non-null  object
 7   SVC_INDUTY_CD_NM           189413 non-null  object
 8   THSMON_SELNG_AMT           189413 non-null  object
 9   THSMON_SELNG_CO            189413 non-null  object
 10  MDWK_SELNG_RATE            189413 non-null  object
 11  WKEND_SELNG_RATE           189413 non-null  object
 12  MON_SELNG_RATE             189413 non-null  object
 13  TUES_SELNG_RATE            189413 non-null  object
 14  WED_SELNG_RATE             189413 non-null  object
 15  THUR_SELNG_RATE            189413 non-null  object
 16  FRI_SELNG_RATE             189413 non-null  object
 17  SAT_SELNG_RATE             189413 non-null  object
 18  SUN_SELNG_RATE             189413 non-null  object
 19  TMZON_00_06_SELNG_RATE     189413 non-null  object
 20  TMZON_06_11_SELNG_RATE     189413 non-null  object
 21  TMZON_11_14_SELNG_RATE     189413 non-null  object
 22  TMZON_14_17_SELNG_RATE     189413 non-null  object
 23  TMZON_17_21_SELNG_RATE     189413 non-null  object
 24  TMZON_21_24_SELNG_RATE     189413 non-null  object
 25  ML_SELNG_RATE              189413 non-null  object
 26  FML_SELNG_RATE             189413 non-null  object
 27  AGRDE_10_SELNG_RATE        189413 non-null  object
 28  AGRDE_20_SELNG_RATE        189413 non-null  object
 29  AGRDE_30_SELNG_RATE        189413 non-null  object
 30  AGRDE_40_SELNG_RATE        189413 non-null  object
 31  AGRDE_50_SELNG_RATE        189413 non-null  object
 32  AGRDE_60_ABOVE_SELNG_RATE  189413 non-null  object
 33  MDWK_SELNG_AMT             189413 non-null  object
 34  WKEND_SELNG_AMT            189413 non-null  object
 35  MON_SELNG_AMT              189413 non-null  object
 36  TUES_SELNG_AMT             189413 non-null  object
 37  WED_SELNG_AMT              189413 non-null  object
 38  THUR_SELNG_AMT             189413 non-null  object
 39  FRI_SELNG_AMT              189413 non-null  object
 40  SAT_SELNG_AMT              189413 non-null  object
 41  SUN_SELNG_AMT              189413 non-null  object
 42  TMZON_00_06_SELNG_AMT      189413 non-null  object
 43  TMZON_06_11_SELNG_AMT      189413 non-null  object
 44  TMZON_11_14_SELNG_AMT      189413 non-null  object
 45  TMZON_14_17_SELNG_AMT      189413 non-null  object
 46  TMZON_17_21_SELNG_AMT      189413 non-null  object
 47  TMZON_21_24_SELNG_AMT      189413 non-null  object
 48  ML_SELNG_AMT               189413 non-null  object
 49  FML_SELNG_AMT              189413 non-null  object
 50  AGRDE_10_SELNG_AMT         189413 non-null  object
 51  AGRDE_20_SELNG_AMT         189413 non-null  object
 52  AGRDE_30_SELNG_AMT         189413 non-null  object
 53  AGRDE_40_SELNG_AMT         189413 non-null  object
 54  AGRDE_50_SELNG_AMT         189413 non-null  object
 55  AGRDE_60_ABOVE_SELNG_AMT   189413 non-null  object
 56  MDWK_SELNG_CO              189413 non-null  object
 57  WKEND_SELNG_CO             189413 non-null  object
 58  MON_SELNG_CO               189413 non-null  object
 59  TUES_SELNG_CO              189413 non-null  object
 60  WED_SELNG_CO               189413 non-null  object
 61  THUR_SELNG_CO              189413 non-null  object
 62  FRI_SELNG_CO               189413 non-null  object
 63  SAT_SELNG_CO               189413 non-null  object
 64  SUN_SELNG_CO               189413 non-null  object
 65  TMZON_00_06_SELNG_CO       189413 non-null  object
 66  TMZON_06_11_SELNG_CO       189413 non-null  object
 67  TMZON_11_14_SELNG_CO       189413 non-null  object
 68  TMZON_14_17_SELNG_CO       189413 non-null  object
 69  TMZON_17_21_SELNG_CO       189413 non-null  object
 70  TMZON_21_24_SELNG_CO       189413 non-null  object
 71  ML_SELNG_CO                189413 non-null  object
 72  FML_SELNG_CO               189413 non-null  object
 73  AGRDE_10_SELNG_CO          189413 non-null  object
 74  AGRDE_20_SELNG_CO          189413 non-null  object
 75  AGRDE_30_SELNG_CO          189413 non-null  object
 76  AGRDE_40_SELNG_CO          189413 non-null  object
 77  AGRDE_50_SELNG_CO          189413 non-null  object
 78  AGRDE_60_ABOVE_SELNG_CO    189413 non-null  object
 79  STOR_CO                    189413 non-null  object
dtypes: object(80)
memory usage: 115.6+ MB