In [6]:
import requests 
import pandas as pd

data_dict = {}  
page = 1  # 초기식

while True:
    end_num = page * 1000
    start_num = end_num - 999
    url = f'http://openapi.seoul.go.kr:8088/7949646757736b773733414e71744d/json/bigCmpBjdongMgmInfo/{start_num}/{end_num}'
    res = requests.get(url) 
    sales_data = res.json()

    # 데이터가 있는지 확인
    if 'bigCmpBjdongMgmInfo' in sales_data and 'row' in sales_data['bigCmpBjdongMgmInfo']:
        data_dict[start_num] = pd.DataFrame(sales_data['bigCmpBjdongMgmInfo']['row'])
        page += 1  
    else:
        break  # 데이터가 없으면 종료

# Concatenate all DataFrames in the dictionary
Bigcmp_df = list(data_dict.values())
Bigcmp_df_2022 = pd.concat(Bigcmp_df, ignore_index=True)
Bigcmp_df_2022.to_csv('/Users/kimsinwoo/Desktop/multicampus/Project/Mini PJT/cmp_2022.csv', index=False)
Bigcmp_df_2022.head(5)

,SIGUNGU_CD,BJDONG_CD,HJDONG_CD,SIDO_NM,SIGUNGU_NM,BJDONG_NM,HJDONG_NM,APPLY_STRT_DAY,APPLY_EXP_DAY
0,11680,10600,675,서울특별시,강남구,대치동,개포3동,20221223,99991231
1,11680,10300,675,서울특별시,강남구,개포동,개포3동,20221223,99991231
2,11680,11400,675,서울특별시,강남구,일원동,개포3동,20221223,99991231
3,11740,10300,526,서울특별시,강동구,상일동,상일제2동,20210701,99991231
4,11740,10300,525,서울특별시,강동구,상일동,상일제1동,20210701,99991231