## 딕셔너리 반복문

In [1]:
x = {'a': '사과', 'b':'딱딱한 복숭아', 'c':'딸기'}

In [3]:
x

{'a': '사과', 'b': '딱딱한 복숭아', 'c': '딸기'}

In [5]:
# key 만 나옴
for i in x:
    print(i)

a
b
c

In [8]:
#.items 이용해서 key, value 출력

for key, value in x.items():
    print(key,value)

a 사과
b 딱딱한 복숭아
c 딸기

In [9]:
# .keys 이용해서 키값 출력
for key in x.keys():
    print(key)

a
b
c

In [10]:
# values 이용해서 값만 출력
for value in x.values():
    print(value)

사과
딱딱한 복숭아
딸기

In [12]:
# 조건문 : value 값이 딸기의 키값 출력
for key,value in x.items():
    if value == '딸기':
        print(key)

c

In [13]:
x

{'a': '사과', 'b': '딱딱한 복숭아', 'c': '딸기'}

In [14]:
# value 값이 딸기가 아닌 key, value 값만 남기기
x = {key : value for key,value in x.items() if value != '딸기'}

In [16]:
x

{'a': '사과', 'b': '딱딱한 복숭아'}

## 세트 set
- 세트 = 집합,세트의 성질은 중복을 제거한다

In [17]:
dog = {'프렌치불독','말티즈','비숑', '진돗개','프렌치불독'}
dog

{'말티즈', '비숑', '진돗개', '프렌치불독'}

In [18]:
add_dog = []
for i in dog:
    add_dog.append(i)

In [19]:
add_dog # 리스트

['프렌치불독', '비숑', '진돗개', '말티즈']

In [20]:
set(add_dog) #중복값 제거

{'말티즈', '비숑', '진돗개', '프렌치불독'}

In [21]:
shop1 = {'말티즈', '비숑', '진돗개', '프렌치불독'}
shop2 = {'프렌치불독', '잉글리시 불독', '아메리칸 쉽독', '보스턴 테리어'}

In [22]:
shop1 | shop2 #합집합

{'말티즈', '보스턴 테리어', '비숑', '아메리칸 쉽독', '잉글리시 불독', '진돗개', '프렌치불독'}

In [23]:
shop1 & shop2 #교집합

{'프렌치불독'}

## 함수 def
- 반복되는 경우나, 길어지는 경우 계속 동일한 하나의 코드를 사용하기에는 에러날 확룰이 높다.
- 한번 만들어 놓고 계속 쓰는 구조가 함수
- def 함수 이름(매개변수):
    - 코드

In [26]:
def Cal(a,b):
    return a + b

In [27]:
Cal(2,3)

5

In [28]:
def hello():
    print('안녕하세요')
    print('니하오')
    print('헬로')

In [29]:
hello()

안녕하세요
니하오
헬로

In [30]:
# 반환값을 꺼내오고 싶은 경우 return
def cal(a,b):
    return a*b

In [31]:
cal(1,4)

4

In [32]:
# 반환값 여려개 가능
def cal(a,b):
    return a + b, a - b, a * b

In [33]:
cal(2,5)

(7, -3, 10)

## lambda
- 함수를 간편하게 작성
- 간결하게 만들 수 있음

In [36]:
def mul(a,b):
    return a**b

In [37]:
mul(2,3) #2의 세제곱 = 8

8

In [38]:
# 람다로 만들기 lambda 매개변수들 : 식

mul_lam = lambda a , b : a**b

In [39]:
mul_lam(2,3)

8

### lambda 표현식 자체로 출력하기

In [41]:
(lambda a: a - 2)(10)

8

In [44]:
# map, list 활용
a = set(map((lambda a: a*2),[1,2,3]))

In [45]:
a

{2, 4, 6}