### 1. 다음은 22명의 학생들이 국어시험에서 받은 점수이다. 학생들의 평균이 75보다 크다고 할 수 있는가?

- 귀무가설 : 평균 <= 75
- 대립가설 : 평균 > 75

In [48]:
# 데이터
scores = [75, 80, 68, 72, 77, 82, 81, 79, 70, 74, 76, 78, 81, 73, 81, 78, 75, 72, 74, 79, 78, 79]

from scipy import stats

exp = 75
#print(help(stats.ttest_1samp))
result = stats.ttest_1samp(scores, exp, alternative = 'greater')
print(result.pvalue)

if result.pvalue < 0.05:
    print("귀무가설 기각, 학생들의 평균은 75점보다 크다고 할 수 있음")
else:
    print("귀무가설 기각할 수 없음")

0.04597614747709146
귀무가설 기각, 학생들의 평균은 75점보다 크다고 할 수 있음

### 2. 주어진 데이터는 고혈압 환자 치료 전후의 혈압니다. 해당 치료가 효과가 있는지 대응표본 t검정을 실시하시오.

In [55]:
import pandas as pd
df = pd.read_csv("data/high_blood_pressure.csv")

#가설설정
# 귀무 : diff >= 0
# 대립 : diff < 0
#print(df.info())
df['diff'] = df['bp_post'] - df['bp_pre']

from scipy import stats
result = stats.ttest_rel(df['bp_post'], df['bp_pre'], alternative = 'less')
print(result.pvalue)

if result.pvalue < 0.05:
    print("귀무가설 기각,효과 있음")
else:
    print("귀무가설 기각할 수 없음")

0.0016434474228511028
귀무가설 기각,효과 있음

### 3. 어떤 특정 약물을 복용한 사람들의 평균 체온이 복용하지 않은 사람들의 평균 체온과 유의미하게 다른지 검정해보려고 한다
- 귀무가설(H0) : 약물을 복용한 그룹과 복용하지 않은 그룹의 평균 체온은 유의미한 차이가 없다.
- 대립가설(H1) : 약물을 복용한 그룹과 복용하지 않은 그룹의 평균 체온은 유의미한 차이가 있다.

- 검정통계량, p-value, 검정결과를 출력하시오.

In [60]:
# 데이터 
group1 = [36.8, 36.7, 37.1, 36.9, 37.2, 36.8, 36.9, 37.1, 36.7, 37.1] # 약물복용
group2 = [36.5, 36.6, 36.3, 36.6, 36.9, 36.7, 36.7, 36.8, 36.5, 36.7] # 약물을 복용하지 않음

import pandas as pd
from scipy import stats
result = stats.ttest_ind(group1, group2)
print(result.statistic)

if result.pvalue < 0.05:
    print("귀무가설 기각,두 집단의 평균체온이 유의미하게 다름")
else:
    print("귀무가설 기각할 수 없음")

3.7964208654863336
귀무가설 기각,두 집단의 평균체온이 유의미하게 다름

### 4.세 가지 다른 교육 방법(A, B, C)을 사용하여 수험생들의 시험 성적을 개선시키는 효과를 평가하고자 한다. 30명의 학생들을 무작위로 세 그룹으로 배정하여 교육을 실시하였고, 시험을 보고 성적을 측정하였다.

- 귀무가설(H0) : 세 그룹(A, B, C) 간의 평균 성적 차이가 없다
- 대립가설(H1) : 세 그룹(A, B, C) 간의 평균 성적 차이가 있다.
    - F값(소수 둘째자리), p-value(소수 여섯째자리), 검정결과를 출력하시오.

In [63]:
# 데이터
groupA = [85, 92, 78, 88, 83, 90, 76, 84, 92, 87]
groupB = [79, 69, 84, 78, 79, 83, 79, 81, 86, 88]
groupC = [75, 68, 74, 65, 77, 72, 70, 73, 78, 75]

from scipy import stats
result = stats.f_oneway(groupA, groupB, groupC)
print(round(result.statistic,2))
print(round(result.pvalue,6))
if result.pvalue < 0.05:
    print("귀무가설 기각,평균 성적에 차이가 있아.")
else:
    print("귀무가설 기각할 수 없음")

16.88
1.8e-05
귀무가설 기각,평균 성적에 차이가 있아.

### 5. 정규성 검정 - Shapiro-Wilk 검정
12명의 수험생이 빅데이터 분석기사 시험에서 받은 점수이다. Shapiro-Wilk 검정을 사용하여 데이터가 정규 분포를 따르는지 검증하시오.

In [65]:
data = [75, 83, 81, 92, 68, 77, 78, 80, 85, 95, 79, 89]

from scipy import stats

result = stats.shapiro(data)
print(result)

ShapiroResult(statistic=0.9768089652061462, pvalue=0.9676492810249329)

### 6. 회귀모형(상관계수)
iris에서 Sepal Length와 Sepal Width의 상관계수를 계산하고 소수 둘째자리까지 출력하시오.

In [22]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df = df[['sepal length (cm)','sepal width (cm)']]

corr = df.corr()
print(round(corr.loc['sepal length (cm)','sepal width (cm)'],2))

-0.12

### 7. 카이제곱 - 독립성 검정
- Gender, Survived 변수 간의 독립성 검정을 실시하였을 때, 카이제곱 통계량은?

In [25]:
df = pd.read_csv('data/Titanic.csv')

from scipy.stats import chi2_contingency
table = pd.crosstab(df.Gender, df.Survived)
result = chi2_contingency(table)
print(result.statistic)

260.71702016732104

### 8. 로지스틱 회귀
- Gender, SibSp,Parch, Fare 독립변수를 상ㅇ하여 로지스틱 회귀 모형을 실시하였을 때, Parch 변수의 계수값은?

In [35]:
from statsmodels.formula.api import logit
df = pd.read_csv('data/Titanic.csv')
#print(df.info())

result = logit('Survived~Gender+SibSp+Parch+Fare',data = df).fit().summary()
print(result) #0.207

Optimization terminated successfully.
         Current function value: 0.482065
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      886
Method:                           MLE   Df Model:                            4
Date:                Thu, 20 Jun 2024   Pseudo R-squ.:                  0.2761
Time:                        20:15:19   Log-Likelihood:                -429.52
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 1.192e-69
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.9466      0.169      5.590      0.000       0.615       1.279
Gender[T.male]    -2.6422      0.186    -14.197      0.000      -3.007      -2.277
SibSp             -0.3539      0.098     -3.604      0.000      -0.546      -0.161
Parch             -0.2007      0.112     -1.792      0.073      -0.420       0.019
Fare               0.0147      0.003      5.553      0.000       0.010       0.020
==================================================================================

- 오즈비 값은?

In [38]:
import numpy as np
result1 = logit('Survived~Gender+SibSp+Parch+Fare',data = df).fit().params
print(np.exp(result1))

Optimization terminated successfully.
         Current function value: 0.482065
         Iterations 6
Intercept         2.577024
Gender[T.male]    0.071203
SibSp             0.701951
Parch             0.818139
Fare              1.014794
dtype: float64

### **카이제곱 적합도 검정[¶](https://www.kaggle.com/code/agileteam/t3-chisquare-py#%EC%B9%B4%EC%9D%B4%EC%A0%9C%EA%B3%B1-%EC%A0%81%ED%95%A9%EB%8F%84-%EA%B2%80%EC%A0%95)**

고등학교에서는 졸업생들이 선택하는 대학 전공 분야의 선호도가 시간이 지남에 따라 변하지 않는다고 가정합니다. 학교 측은 최근 졸업생들의 전공 선택이 과거와 같은 패턴을 따르는지 알아보기 위해 적합도 검정을 실시하기로 결정했습니다.

과거 자료에 따르면 졸업생들이 선택하는 전공의 분포는 다음과 같습니다:

인문학: 20% 사회과학: 30% 자연과학: 25% 공학: 15% 기타: 10% 올해 졸업한 학생 200명의 전공 선택 분포는 다음과 같았습니다:

인문학: 30명 사회과학: 60명 자연과학: 50명 공학: 40명 기타: 20명 이 데이터를 바탕으로, 졸업생들의 전공 선택 패턴이 과거와 유사한지를 알아보기 위해 카이제곱 적합도 검정을 실시해야 합니다. 유의 수준은 0.05로 설정합니다.

1. 검정 통계량?
2. p-value?
3. 유의수준 하 귀무가설 기각 또는 채택?
    1. 귀무가설 : 차이가 없다
    2. 대립가설 : 차이가 있다.

In [73]:
observed = [30,60,50,40,20]
expected = [200*0.2, 200*0.3, 200*0.25, 200*0.15, 200*0.1]

from scipy import stats
result = stats.chisquare(f_obs = observed, f_exp = expected)

### 지지도, 신뢰도, 향상도

In [74]:
import pandas as pd
# 데이터
df = pd.DataFrame({
    'transaction': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    '빼빼로': [1, 0, 1, 1, 0, 1, 1, 0, 1, 1],
    '딴짓초코': [0, 1, 1, 0, 1, 0, 1, 1, 0, 0],
    '양조위빵': [1, 0, 0, 1, 1, 1, 0, 0, 1, 0],
    '오징어칩': [0, 1, 1, 0, 0, 1, 0, 1, 1, 1],
    '초코파이': [1, 1, 0, 0, 1, 0, 1, 1, 0, 0]
})
df

   transaction  빼빼로  딴짓초코  양조위빵  오징어칩  초코파이
0            1    1     0     1     0     1
1            2    0     1     0     1     1
2            3    1     1     0     1     0
3            4    1     0     1     0     0
4            5    0     1     1     0     1
5            6    1     0     1     1     0
6            7    1     1     0     0     1
7            8    0     1     0     1     1
8            9    1     0     1     1     0
9           10    1     0     0     1     0

In [75]:
# 공통
total = df.shape[0]
pepero = df['빼빼로'].sum()

#1. '빼빼로'와 '딴짓초코'가 함께 팔린 거래의 지지도를 계산하세요.
pepero_and_choco = len(df[(df['빼빼로'] == 1) & (df['딴짓초코'] == 1)])
print(pepero/total)
                       
#2. '빼빼로'가 팔린 거래 중에서 '빼빼로'와 '오징어칩'이 함께 팔린 거래의 신뢰도를 계산하세요.
pepero_and_o = len(df[(df['빼빼로'] == 1) & (df['오징어칩'] == 1)])
print(pepero_and_o/pepero)
                   
#3. '빼빼로'와 '양조위빵'의 향상도를 계산하세요.
pepero_and_bread = len(df[(df['빼빼로'] == 1) & (df['양조위빵'] == 1)])
bread = len(df[df['양조위빵'] == 1])
print((pepero_and_bread/pepero) / (bread / total))

0.7
0.5714285714285714
1.1428571428571428

### 베르누이, 이항 분포
- 1. 베르누이 분포: 각 시도의 성공 확률 계산
- 2. 이항 분포: 100번의 시도 중 정확히 60번 성공할 확률 계산

In [92]:
from scipy import stats

df = pd.read_csv("data/t3_success.csv")
# 배르누이 분포
total = df.shape[0]
sucess = sum(df['Success'] == 1)
success_prob = sucess/total
print(success_prob)

# 이항분포
n = 100
k = 60

result = stats.binom.pmf(k, n, success_prob)
print(result)

0.62
0.07464985555860272

### 점추정, 구간추정

In [104]:
import pandas as pd
temperature_data = pd.read_csv("data/daily_temperatures.csv")


# 1. 평균온도 점추정
sample_mean = temperature_data['Daily Average Temperature'].mean()
print(sample_mean)

# 2. 구간추정 -- t
confidence_level = 0.95
sample_std = temperature_data['Daily Average Temperature'].std()
n_samples = len(temperature_data)

interval = stats.t.interval(confidence_level,df = n_samples -1,loc = sample_mean, scale = sample_std/n_samples**0.5)
print(interval)

19.937577543978538
(19.427887094620406, 20.44726799333667)