In [8]:
# requests 라이브러리 임포트
import requests 
import pandas as pd

# json 파일, 1 ~ 1000 개의 데이터를 가져옴
start_num = []
end_num = []

for i in range(1,11):
    end_num = i*1000
    start_num = end_num-999
    url = 'http://openapi.seoul.go.kr:8088/7949646757736b773733414e71744d/json/VwsmTrdhlSelngQq/{start_num}/{end_num}/2022'
    res = requests.get(url) # 정의한 URL로 GET 요청 전송
    #res.text # 요청한 응답데이터의 본문 가져오기
    sales_{start_num} = res.json()
    #sales['VwsmTrdhlSelngQq']['row']

    sales_df_{start_num} = pd.DataFrame(sales['VwsmTrdhlSelngQq']['row'])

SyntaxError: invalid syntax (483525724.py, line 15)

In [6]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 80 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   STDR_YY_CD                 1000 non-null   object
 1   STDR_QU_CD                 1000 non-null   object
 2   TRDAR_SE_CD                1000 non-null   object
 3   TRDAR_SE_CD_NM             1000 non-null   object
 4   TRDAR_CD                   1000 non-null   object
 5   TRDAR_CD_NM                1000 non-null   object
 6   SVC_INDUTY_CD              1000 non-null   object
 7   SVC_INDUTY_CD_NM           1000 non-null   object
 8   THSMON_SELNG_AMT           1000 non-null   object
 9   THSMON_SELNG_CO            1000 non-null   object
 10  MDWK_SELNG_RATE            1000 non-null   object
 11  WKEND_SELNG_RATE           1000 non-null   object
 12  MON_SELNG_RATE             1000 non-null   object
 13  TUES_SELNG_RATE            1000 non-null   object
 14  WED_SELNG_RATE             1000 non-null   object
 15  THUR_SELNG_RATE            1000 non-null   object
 16  FRI_SELNG_RATE             1000 non-null   object
 17  SAT_SELNG_RATE             1000 non-null   object
 18  SUN_SELNG_RATE             1000 non-null   object
 19  TMZON_00_06_SELNG_RATE     1000 non-null   object
 20  TMZON_06_11_SELNG_RATE     1000 non-null   object
 21  TMZON_11_14_SELNG_RATE     1000 non-null   object
 22  TMZON_14_17_SELNG_RATE     1000 non-null   object
 23  TMZON_17_21_SELNG_RATE     1000 non-null   object
 24  TMZON_21_24_SELNG_RATE     1000 non-null   object
 25  ML_SELNG_RATE              1000 non-null   object
 26  FML_SELNG_RATE             1000 non-null   object
 27  AGRDE_10_SELNG_RATE        1000 non-null   object
 28  AGRDE_20_SELNG_RATE        1000 non-null   object
 29  AGRDE_30_SELNG_RATE        1000 non-null   object
 30  AGRDE_40_SELNG_RATE        1000 non-null   object
 31  AGRDE_50_SELNG_RATE        1000 non-null   object
 32  AGRDE_60_ABOVE_SELNG_RATE  1000 non-null   object
 33  MDWK_SELNG_AMT             1000 non-null   object
 34  WKEND_SELNG_AMT            1000 non-null   object
 35  MON_SELNG_AMT              1000 non-null   object
 36  TUES_SELNG_AMT             1000 non-null   object
 37  WED_SELNG_AMT              1000 non-null   object
 38  THUR_SELNG_AMT             1000 non-null   object
 39  FRI_SELNG_AMT              1000 non-null   object
 40  SAT_SELNG_AMT              1000 non-null   object
 41  SUN_SELNG_AMT              1000 non-null   object
 42  TMZON_00_06_SELNG_AMT      1000 non-null   object
 43  TMZON_06_11_SELNG_AMT      1000 non-null   object
 44  TMZON_11_14_SELNG_AMT      1000 non-null   object
 45  TMZON_14_17_SELNG_AMT      1000 non-null   object
 46  TMZON_17_21_SELNG_AMT      1000 non-null   object
 47  TMZON_21_24_SELNG_AMT      1000 non-null   object
 48  ML_SELNG_AMT               1000 non-null   object
 49  FML_SELNG_AMT              1000 non-null   object
 50  AGRDE_10_SELNG_AMT         1000 non-null   object
 51  AGRDE_20_SELNG_AMT         1000 non-null   object
 52  AGRDE_30_SELNG_AMT         1000 non-null   object
 53  AGRDE_40_SELNG_AMT         1000 non-null   object
 54  AGRDE_50_SELNG_AMT         1000 non-null   object
 55  AGRDE_60_ABOVE_SELNG_AMT   1000 non-null   object
 56  MDWK_SELNG_CO              1000 non-null   object
 57  WKEND_SELNG_CO             1000 non-null   object
 58  MON_SELNG_CO               1000 non-null   object
 59  TUES_SELNG_CO              1000 non-null   object
 60  WED_SELNG_CO               1000 non-null   object
 61  THUR_SELNG_CO              1000 non-null   object
 62  FRI_SELNG_CO               1000 non-null   object
 63  SAT_SELNG_CO               1000 non-null   object
 64  SUN_SELNG_CO               1000 non-null   object
 65  TMZON_00_06_SELNG_CO       1000 non-null   object
 66  TMZON_06_11_SELNG_CO       1000 non-null   object
 67  TMZON_11_14_SELNG_CO       1000 non-null   object
 68  TMZON_14_17_SELNG_CO       1000 non-null   object
 69  TMZON_17_21_SELNG_CO       1000 non-null   object
 70  TMZON_21_24_SELNG_CO       1000 non-null   object
 71  ML_SELNG_CO                1000 non-null   object
 72  FML_SELNG_CO               1000 non-null   object
 73  AGRDE_10_SELNG_CO          1000 non-null   object
 74  AGRDE_20_SELNG_CO          1000 non-null   object
 75  AGRDE_30_SELNG_CO          1000 non-null   object
 76  AGRDE_40_SELNG_CO          1000 non-null   object
 77  AGRDE_50_SELNG_CO          1000 non-null   object
 78  AGRDE_60_ABOVE_SELNG_CO    1000 non-null   object
 79  STOR_CO                    1000 non-null   object
dtypes: object(80)
memory usage: 625.1+ KB

In [7]:
sales_df.STDR_QU_CD.value_counts()

STDR_QU_CD
4    1000
Name: count, dtype: int64

In [11]:
import requests 
import pandas as pd

# json 파일, 1 ~ 1000 개의 데이터를 가져옴
data_dict = {}  # Dictionary to store data

for i in range(1, 11):
    end_num = i * 1000
    start_num = end_num - 999
    url = f'http://openapi.seoul.go.kr:8088/7949646757736b773733414e71744d/json/VwsmTrdhlSelngQq/{start_num}/{end_num}/2022'
    res = requests.get(url) 
    sales_data = res.json()
    data_dict[start_num] = pd.DataFrame(sales_data['VwsmTrdhlSelngQq']['row'])
    sales_[start_num] = pd.to_csv('./data/{sales_[start_num]}')


# Concatenate all DataFrames in the dictionary
sales_df = list(data_dict.values())
sales_df_2022 = pd.concat(sales_df, ignore_index=True)
sales_df_2022.head(5)

AttributeError: module 'pandas' has no attribute 'to_csv'

In [ ]:
sales_df_info

In [ ]:
import requests 
import pandas as pd
import os  # Import the os module for file operations

# json 파일, 1 ~ 1000 개의 데이터를 가져옴
data_dict = {}  # Dictionary to store data

for i in range(1, 11):
    end_num = i * 1000
    start_num = end_num - 999
    url = f'http://openapi.seoul.go.kr:8088/7949646757736b773733414e71744d/json/VwsmTrdhlSelngQq/{start_num}/{end_num}/2022'
    res = requests.get(url) 
    sales_data = res.json()
    data_dict[start_num] = pd.DataFrame(sales_data['VwsmTrdhlSelngQq']['row'])

# Concatenate all DataFrames in the dictionary
sales_df = list(data_dict.values())
sales_df_2022 = pd.concat(sales_df, ignore_index=True)

# Export the merged DataFrame to a CSV file
sales_df_2022.to_csv('./data/sales_df_2022.csv', index=False)

sales_df_2022.head(5)